<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />

    <title><%= title %></title>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
    <div id="app">
      <div
        class="component-list2"
        style="padding: 15px; border: dotted; background-color: #f1f2f5"
      >
        <% items.items?.forEach(function(element) { %> <% if
        (element.management.available) { %>
        <span>
          <% if (element.typee === "input") { %>
          <el-input
            placeholder="Please input"
            v-model="<%= element.model%>"
            @change="<%- element.handle %>"
            style="display: <%= element.management.visible ? 'block' : 'none' %>"
          ></el-input>

          <% } else if (element.typee==='checked' ) { %>
          <el-checkbox
            v-model="<%= element.model%>"
            @change="<%- element.handle %>"
            style="display: <%= element.management.visible ? 'block' : 'none' %>"
            >Option</el-checkbox
          >
          <% } else if (element.typee==='select' ) { %>
          <el-select v-model="<%= element.model%>" @change="<%- element.handle %>" placeholder="Select">
            <el-option
              style="display: <%= element.management.visible ? 'block' : 'none' %>"
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
          <% } else if (element.typee==='button' ) { %>
          <el-button type="primary" <% if (element.handle) { %>
            @click="<%- element.handle %>" <% } %> style="display: <%=
            element.management.visible ? 'block' : 'none' %>">Primary</el-button
          >
          <% } else if (element.typee==='text-area' ) { %>
          <el-input
            type="textarea"
            :rows="2"
            placeholder="Please input"
            v-model="<%= element.model%>"
            @change="<%- element.handle %>"
            style="display: <%= element.management.visible ? 'block' : 'none' %>"
          ></el-input>
          <% } %>
        </span>
        <% } %> <% }) %>
      </div>
    </div>
  </body>

  <script>
    const itemsData = <%- JSON.stringify(items.items) %>;
    const fonctionData = <%- items?.fonction %>;
    console.log('fonctionData', fonctionData);
    const models = {};
    itemsData?.forEach(el => {
          models[el.model] = '';
        });
    console.log('models', models);
    new Vue({
      el: '#app',
      data: function() {
        return {visible: false, options: {}, options: [{
          value: 'Option1',
          label: 'Option1'
        }, {
          value: 'Option2',
          label: 'Option2'
        }],
        value: '', ...models,}
      },
      methods: {
        ...fonctionData,
      },
    });
  </script>
  <style>
    .container-list2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      align-content: center;
    }

    .component-list2 {
      height: 50px;
      min-width: 450px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background: #d3dce6;
      justify-content: space-around;
    }
  </style>
</html>
